.nav {
	display: flex;
	align-items: center;
	height: 56px;
	justify-content: space-between;
	padding: 5rem 2rem 2rem;
}

.nav-link {
	text-decoration: none;
	color: white;
	padding: 2rem;
	font-size: 18px;
	font-weight: bold;
}

.nav-button {
	text-decoration: none;
	background-color: white;
	padding: 20px;
	margin-left: 20px;
	border-radius: 28px;
	justify-content: flex-end;
	color: black;
	font-weight: bold;
}
