:root {
	font-family: 'Barlow', sans-serif;
	background-color: #fffcf8;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #24303e;
}

.headings {
	font-family: 'Fraunces', serif;
}
